/* From Uiverse.io by kamehame-ha https://uiverse.io/kamehame-ha/chilly-snake-91 */

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards .red {
  background-color: #732449;
  color: #d9b4a7;
}
.cards .red-back {
  background-color: #d9b4a7;
  color: #732449;
}

.cards .blue {
  background-color: #00b6c4;
  color: #a4feff ;
}
.cards .blue-back {
  background-color: #a4feff;
  color: #00b6c4;
}

.cards .green {
  background-color: #19485f;
}
.cards .green-back {
  background-color: #d9e0a4;
}
.cards .standard {
  background-color: gray;
}
.cards .standard-back {
  background-color: rgb(195, 195, 195);
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100px;
  max-height: 40%;
  min-width: 250px;
  max-width: 100%;
  border-radius: 10px;
  /* color: white; */
  cursor: pointer;
  transition: 400ms;
  position: relative;
  user-select: none;
}

.cards .card .tip {
  font-size: 1.2rem;
  font-weight: 700;
}

.tip {
display:block;
padding: 0 1rem;
}

.cards:hover > .card:not(:hover) {
  /* filter: blur(10px); */
  transform: scale(0.9, 0.9);
}


.copy-btn {
  padding: 0.4rem 2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 10px 0 5px;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 1px;
}
.copy-btn:hover {
  background-color: #45a049;
}

.alert {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  font-size: 16px;
  display: none; /* Inicialmente oculta */
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selected-card{
  border-color: royalblue ;
  border-style: dotted;
  transform: scale(1.1, 1.1);
}

.none {
  display: none;
}

.btn-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  margin: 20px;
}

.btn:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}